<div class="services-container">
    <h1 style="font-size: 2.5em;" i18n="service_header | Services header">Services</h1>
    <div class="row" >
        <mat-card class="card mat-elevation-z4">
            <mat-card-content>
                <div class="content">
                    <p>
                        <mat-icon class="icon warn">cloud</mat-icon>
                    </p>
                    <p>
                        <b class="title-service warn" i18n="service1_header | Service 1 header">All-in-cloud</b>
                    </p>
                    <p i18n="service1_description | Service 1 description">
                        We use the power of <b>elastic cloud computing</b> to serve all your needs.
                    </p>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="card mat-elevation-z4">
            <mat-card-content>
                <div class="content">
                    <p>
                        <mat-icon class="icon primary">timeline</mat-icon>
                    </p>
                    <p>
                        <b class="title-service primary" i18n="service2_header | Service 2 header">Scalable</b>
                    </p>
                    <p i18n="service2_description | Service 2 description">
                        Using the best <b>3rd-party web services</b> assures us to scale properly.
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
                  
    </div>
    <div class="row">
        <mat-card class="card mat-elevation-z4">
            <mat-card-content>
                <div class="content">
                    <p>
                        <mat-icon class="icon faster">flash_on</mat-icon>
                    </p>
                    <p>
                        <b class="title-service faster" i18n="service3_header | Service 3 header">Fast</b>
                    </p>
                    <p i18n="service3_description | Service 3 description">
                        Your data is <b>served dynamically</b> using edge servers all around the globe to deliver content faster.
                    </p>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="card mat-elevation-z4">
            <mat-card-content>
                <div class="content">
                    <p>
                        <mat-icon class="icon secured">lock</mat-icon>
                    </p>
                    <p>
                        <b class="title-service secured" i18n="service4_header | Service 4 header">Secure</b>
                    </p>
                    <p i18n="service4_description | Service 4 description">
                        Damascus Engineering&trade;'s infrastructure is secured thanks to the <b>internal isolated network</b> within its cloud.
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <h1 i18n="powered_header | Powered header">Powered</h1>
    <div class="sponsors">
        <a href="https://aws.amazon.com/what-is-cloud-computing" title="Amazon Web Services">
            <img src="assets/img/services/aws.svg" height="70" alt="Powered by AWS Cloud Computing">
        </a>
        <a href="https://cloud.google.com/" title="Google Cloud">
            <img src="assets/img/services/gcp.svg" alt="Google Cloud Platform">
        </a>
        <a href="https://www.facebook.com/" title="Facebook">
            <img src="assets/img/services/fb.svg" height="100" alt="Facebook">
        </a>
    </div>
</div>