<div class="services-container">
    <h1 style="font-size: 3em;">Services</h1>
    <div class="row" >
        <mat-card class="card mat-elevation-z4">
            <mat-card-content>
                <div class="content">
                    <p>
                        <mat-icon class="icon warn">cloud</mat-icon>
                    </p>
                    <p>
                        <b class="title-service warn">All-in-cloud</b>
                    </p>
                    <p>
                        We use the power of <b>elastic cloud computing</b> to serve all your needs.
                    </p>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="card mat-elevation-z4">
            <mat-card-content>
                <div class="content">
                    <p>
                        <mat-icon class="icon primary">timeline</mat-icon>
                    </p>
                    <p>
                        <b class="title-service primary">Scalable</b>
                    </p>
                    <p>
                        Using the best <b>3rd-party web services</b> assures us to scale properly.
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
                  
    </div>
    <div class="row">
        <mat-card class="card mat-elevation-z4">
            <mat-card-content>
                <div class="content">
                    <p>
                        <mat-icon class="icon faster">flash_on</mat-icon>
                    </p>
                    <p>
                        <b class="title-service faster">Fast</b>
                    </p>
                    <p>
                        Your data is <b>served dynamically</b> using edge servers all around the globe to deliver content faster.
                    </p>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card class="card mat-elevation-z4">
            <mat-card-content>
                <div class="content">
                    <p>
                        <mat-icon class="icon secured">lock</mat-icon>
                    </p>
                    <p>
                        <b class="title-service secured">Secure</b>
                    </p>
                    <p>
                        Damascus Engineering&trade;'s infrastructure is secured thanks to the <b>internal isolated network</b> within its cloud.
                    </p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <h1>Powered</h1>
    <div class="sponsors">
        <a href="https://aws.amazon.com/what-is-cloud-computing">
            <img src="assets/img/services/aws.svg" height="50" alt="Powered by AWS Cloud Computing">
        </a>
        <a href="https://cloud.google.com/?hl=es">
            <img src="assets/img/services/gcp.svg" alt="Google Cloud Platform">
        </a>
    </div>
</div>