<div class="wrapper">
    <mat-drawer-container class="container" autosize>
        <mat-drawer #drawer class="sidenav" mode="side">
            <div class="sidebar-header" (click)="drawer.toggle()" >
                <img src="assets/img/damascus.svg" alt="" height="40">
                <span style="margin-left: 10px; font-weight: 700; font-size: 1.2em;">damascus</span>
            </div>
            <div class="sidebar-container" >
                <mat-action-list>
                    <button mat-list-item matPreffix routerLink="." fragment="home" ><mat-icon>home</mat-icon> <b i18n="menu_home | Main menu">Home</b> </button>
                    <button mat-list-item matPreffix routerLink="." fragment="products"><mat-icon>trending_up</mat-icon> <b i18n="menu_products | Product menu">Products</b> </button>
                    <button mat-list-item matPreffix routerLink="." fragment="services"><mat-icon>layers</mat-icon> <b i18n="menu_services | Services menu">Services</b> </button>
                    <button mat-list-item matPreffix routerLink="." fragment="contact"><mat-icon>phone</mat-icon> <b i18n="menu_contact | Contact menu">Contact</b> </button>
                </mat-action-list>
            </div>
        </mat-drawer>
        
        <div class="title-wrapper">
            <div class="background"></div>
            <div class="navbar" #navbar_desktop>
                <mat-toolbar class="mat-elevation-z8" style="padding: 10px 0;">            
                    <mat-toolbar-row>
                        <ng-container>
                            <div id="mobile-menu" style="margin-right: 10px;">
                                <button class="animated zoomIn fast" mat-icon-button type="button" mat-button (click)="drawer.toggle()">
                                        <mat-icon>menu</mat-icon>
                                </button>
                            </div>
                        </ng-container>
                        <img src="assets/img/damascus.svg" alt="" height="40">
                        <span style="margin-left: 10px; font-weight: 700; font-size: 1.2em;">damascus</span>
                        <span class="spacer"></span>
                    </mat-toolbar-row>
                </mat-toolbar>
            </div>
            <div class="navbar-desktop">
                <img src="assets/img/damascus.svg" alt="" height="40">
                <span style="margin-left: 10px; font-weight: 700;  font-size: 2em;">damascus</span>
                <span class="spacer"></span>
                <button class="item-btn" mat-button routerLink="." fragment="home" >
                    <div class="item">
                        <mat-icon>home</mat-icon>
                        <b i18n="menu_home | Main menu">Home</b>
                    </div>
                </button>
                <button class="item-btn" mat-button routerLink="." fragment="products" >
                    <div class="item">
                        <mat-icon>trending_up</mat-icon>
                        <b i18n="menu_products | Product menu">Products</b>
                    </div>
                </button>
                <button class="item-btn" mat-button routerLink="." fragment="services" >
                    <div class="item">
                        <mat-icon>layers</mat-icon>
                        <b i18n="menu_services | Services menu">Services</b>
                    </div>
                </button>
                <button class="item-btn" mat-button routerLink="." fragment="contact" >
                    <div class="item">
                        <mat-icon>phone</mat-icon>
                        <b i18n="menu_contact | Contact menu">Contact</b>
                    </div>
                </button>
            </div>
            <section id="home" name="home">
                <div class="header">
                    <h1 class="headline" i18n="main_header | Main title header">Transform your ideas</h1>
                    <p style="font-weight: 300; margin: 0; font-size: larger;" i18n="main_slogan | Main slogan on header">
                        Make your business bigger with Damascus Engineering&trade; infrastructure & solutions.
                    </p>
                    <div class="head-squares">
                        <div class="square mat-elevation-z8">
                            <mat-icon>dns</mat-icon>
                            <b i18n="main_square1 | Header option 1">Infrastructure</b>
                        </div>
                        <div class="square mat-elevation-z8" style="background-color: #404040;">
                            <mat-icon>business</mat-icon>
                            <b i18n="main_square2 | Header option 2">Services</b>
                        </div>
                    </div>
                </div>
            </section>
            <div class="arrow-container"><button class="animated pulse infinite" mat-fab color="primary" routerLink="." fragment="products"><mat-icon>arrow_downward</mat-icon></button></div>
        </div>
        <div class="body">
            <div class="slider">
                <!-- Swiper
                <div class="swiper-container" [swiper]="mainSwiper">
                    <div class="swiper-wrapper">
                        <div style="background-image: url(https://cdn.damascus-engineering.com/damascus/helix-nebula-wallpapers_315247.jpg);" class="swiper-slide swiper-lazy">
                            <div style="display: flex; align-items: center; justify-content: center; height: 450px;">
                                <h1>Damascus Engineering for everyone</h1>
                            </div>
                        </div>
                        <div style="background-image: url(https://cdn.damascus-engineering.com/damascus/helix-nebula-wallpapers_315247.jpg); height: 100%;" class="swiper-slide swiper-lazy">
                            <h1>Damascus Engineering for everyone</h1>
                        </div>
                    </div>
        
                    <div class="swiper-pagination"></div>
                </div> -->
            </div>
            <div class="spacer-y"></div>
            <div>
                <div id="products" name="products">
                    <app-products></app-products>
                </div>
                <div id="services" name="services">
                    <app-services></app-services>
                </div>
            </div>
        </div>
        <footer id="contact" name="contact">
            <app-footer></app-footer>
        </footer>
        
    </mat-drawer-container>
</div>