<div class="footer">
    <div class="item">
        <div class="logo">
            <img src="assets/img/damascus_white.svg" alt="Damascus logo">
            <h2>damascus</h2>
        </div>
        <div class="countries">
            <div>
                <span i18n="language_title | Language title">Language</span>
            </div>
            <div>
                <mat-form-field class="app-dark">
                    <mat-label i18n="language_option | Language option">Select an option</mat-label>
                    <mat-select [(ngModel)]="selected" name="culture" (selectionChange)="selectionChanged($event)">
                        <mat-option *ngFor="let culture of cultures" [value]="culture.value"> {{culture.viewValue}} </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="info">
            <p style="color: #bdbdbd;"><span class="flag-icon flag-icon-mx"></span> Chihuahua, MX</p>
            <p></p>
        </div>
    </div>
    <div class="item content">
        <h3 i18n="careers_title | Careers title">Careers</h3>
        <a href="mailto:jobs@damascus-engineering.com?Subject=Job%20Application" i18n="apply_label | Apply now label">Apply now</a>
    </div>
    <div class="item content">
        <h3 i18n="dev_title | Developers title">Developers</h3>
        <a href="https://github.com/damascus-mx/Nebula">Open Source</a>
        <a href="https://github.com/damascus-mx">Github</a>
    </div>

    <div class="social-container">
        <a href="https://www.instagram.com/damascusmx/" title="Instagram" class="svelte-dnye4j">
            <span role="img" aria-label="Instagram" class="mh-social-icon-instagram svelte-dnye4j"></span>
        </a>
        <a href="https://www.facebook.com/Damascus-MX-106073570810215/" title="Facebook" class="mh-footer-primary svelte-dnye4j">
            <span role="img" aria-label="Facebook" class="mh-social-icon-facebook svelte-dnye4j"></span>
        </a>
    </div>
</div>
